* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: changeBackground 15s infinite;
    background-size: cover;
    background-position: center;
}

/* Background Animation */
@keyframes changeBackground {
    0% { background-image: url("WALLPAPERS.jpeg"); }
    33% { background-image: url("wallpaper1.gif"); }
    66% { background-image: url("wallpaper2.jpeg"); }
    100% { background-image: url("wallpaper3.jpeg"); }
}

.content {
    position: relative;
    width: 100%;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    padding: 20px;
}

.content h1 {
    font-size: 2rem;
    opacity: 0;
    animation: grow 2s forwards ease-in-out;
    animation-delay: 0.5s;
    margin-top: 20px; /* Space at the top */
}

.content p {
    font-size: 1.2rem;
    margin-top: 20px;
    opacity: 0;
    animation: fadeIn 2s forwards ease-in-out;
    animation-delay: 1s;
}
@keyframes grow {
    from {
        font-size: 2rem;
        opacity: 0;
    }
    to {
        font-size: 4rem;
        opacity: 1;
    }
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}